{% extends 'base.html' %}

{% block content %}
  <h2>Ro'yxatdan o'tish</h2>
  <form method="post" action="{% url 'register' %}">
    {% csrf_token %}
    <div>
      {{ form.username.label_tag }}<br>
      {{ form.username }}<br>
      {{ form.username.errors }}
    </div>
    <div>
      {{ form.password1.label_tag }}<br>
      {{ form.password1 }}<br>
      {{ form.password1.errors }}
    </div>
    <div>
      {{ form.password2.label_tag }}<br>
      {{ form.password2 }}<br>
      {{ form.password2.errors }}
    </div>
    <button type="submit">Ro'yxatdan o'tish</button>
  </form>
{% endblock %}
